.animate-linear-progress {
  animation: linearProgress 2s ease-in-out infinite;
}
html[dir="ltr"] {
  @keyframes linearProgress {
    from {
      left: -20%;
      transform: scaleX(0);
    }
    to {
      left: 100%;
      transform: scaleX(1);
    }
  }
}
html[dir="rtl"] {
  @keyframes linearProgress {
    from {
      right: -20%;
      transform: scaleX(0);
    }
    to {
      right: 100%;
      transform: scaleX(1);
    }
  }
}
