.video-player {
  button:focus {
    outline: none;
  }
  .seeker-container {
    // --position: 0; //[0,100]
    // --progress: 0; //[0,100]
    // --preview-position: 0; //[0,100]
    .position-seeker {
      transform: scaleX(calc(var(--position, 0) / 100));
    }
    .progress-seeker {
      transform: scaleX(calc(var(--progress, 0) / 100));
    }
    .indicator {
      left: calc(1% * var(--progress, 0));
    }
    .preview-container {
      left: calc(1% * var(--preview-position, 0));
    }
  }
}
